body {
  background-color: rgba(124, 156, 223, 0.849);
}
.header {
  display: flex;
  justify-content: center;
}
header img {
  width: 50%;
  padding-top: 30px;
}

.body {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
}

#info,
#highscore {
  border: solid;
  background-size: cover;
  width: 250px;
  background-color: rgb(207, 219, 223);
  font-size: 1.2em;
  text-align: center;
  padding: 0 10px;
  height: 400px;
  margin: 50px;
}
#info h2,
p {
  margin: 0;
}

canvas {
  margin-bottom: 50px;
  background-color: rgb(106, 146, 242);
}

#startScr,
#gameOver,
#winScr {
  width: 700px;
  height: 400px;
  margin-bottom: 50px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#pokeballs img {
  width: 150px;
  height: 140px;
}
#startBtn,
#restartBtn {
  background-color: transparent;
  border: none;
}
#win {
  height: 160px;
}
#keys {
  height: 70px;
}
#info p {
  font-size: 0.9em;
}
#confirm {
  color: rgb(0, 0, 0);
  font-size: x-large;
  text-shadow: rgb(255, 238, 0) -2px -1px;
}
#confirm span {
  color: rgb(0, 3, 1);
  text-shadow: rgb(2, 75, 184) -1px -1px;
  font-size: xx-large;
}
#music {
  position: relative;
  top: 0px;
  left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
#music span {
  color: green;
}

#badges {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  justify-content: space-around;
}
#badges img {
  width: 30px;
  height: 30px;
}

#egg{
  height: 25px;
  align-self: flex-start;
  padding-bottom: 20px;
}
